<div results-table class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Data
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <button class="col-12 btn btn-lg btn-primary"routerLinkActive="active" [routerLink]="['forms']">List Forms</button>
      </div>
      <div class="col">
        <button class="col-12 btn btn-lg btn-success"routerLinkActive="active" [routerLink]="['reports']">List Reports</button>
      </div>
    </div>
  </div>
</div>
