<div class="container-fluid fill">
  <div class="row fill">
    <!--Nav Column-->
    <div class="bg-primary col-sm-4 col-md-3 col-lg-2 fill">
      <div class="page-header header">
        <h1>LOGO</h1>
      </div>      
      
      <!--Test Accordion-->
      <accordion>
        <button type="button" class="btn btn-default" routerLink="/" routerLinkActive="active">
          Home
        </button>
        <accordion-group heading="Users">
          <ul>
            <li><a routerLink="/users" routerLinkActive="active">List</a></li>
            <li><a routerLink="/users/add" routerLinkActive="active">Add</a></li>
          </ul>
        </accordion-group>
      </accordion>
    </div>

    <div class="bg-default col-sm-8 col-md-9 col-lg-10 fill">
      <div class="page-header header">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
        <span dropdown class="pull-right">
          <a href dropdownToggle id="user-menu">
            John Doe
          </a>
          <ul class="dropdown-menu" dropdownMenu aria-lableledby="user-menu">
            <li>
              <a href>Profile</a>
            </li>
            <hr>
            <li>
              <a href>Logout</a>
          </ul>
        </span>
      </div>
      <!-- Router output is rendered here. -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>