<div results-table class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Results Table
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-primary" (click)="openModal(addUserTemplate)">Add User</button>
    <ng-template #addUserTemplate>
      <div class="modal-body text-center">
        <p>Provide an email and password to create a user.</p>
        <input type="text" class="form-control" #email placeholder="Email">
        <input type="password" class="form-control" #password placeholder="Password">
        <button type="button" class="btn btn-default" (click)="add(email.value, password.value)" >Yes</button>
        <button type="button" class="btn btn-primary" (click)="cancel()" >Cancel</button>
      </div>
    </ng-template>
    <al-table #tbl [data]="users" [actions]="{}" (displayedDataChanged)="updateDisplayed($event)" [searchColumns]="searchColumns">
      <table class="table table-responsive table-hover table-outline mb-0">
        <thead>
          <tr>
            <th th-sortable [table]="tbl" [prop]="'firstName'" [filter]="true" class="text-nowrap">
              First Name
            </th>
            <th th-sortable [table]="tbl" [prop]="'lastName'" [filter]="true" class="text-nowrap">
              Last Name
            </th>
            <th th-sortable [table]="tbl" [prop]="'email'" [filter]="true" class="text-nowrap">
              Email
            </th>
            <th th-sortable [table]="tbl" [prop]="'emailVerified'" [filter]="true" class="text-nowrap">
              Verified
            </th>
            <th th-sortable [table]="tbl" [prop]="'role'" [filter]="true" class="text-nowrap">
              Role
            </th>
            <th class="text-nowrap">
              <span class="btn btn-sm p-0">
                Actions
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of displayedUsers" [ngClass]="{'table-primary': user === selected}" (click)="selected = user">
            <td>
              <span *ngIf="user !== selected">{{user.firstName}}</span>
              <span *ngIf="user === selected">
                <input [(ngModel)]="user.firstName" class="form-control">
              </span>
            </td>
            <td>
              <span *ngIf="user !== selected">{{user.lastName}}</span>
              <span *ngIf="user === selected">
                <input [(ngModel)]="user.lastName" class="form-control">
              </span>
            </td>
            <td>
              <span *ngIf="user !== selected">{{user.email}}</span>
              <span *ngIf="user === selected">
                <input [(ngModel)]="user.email" class="form-control">
              </span>
            </td>
            <td>{{user.emailVerified}}</td>
            <td>
              <span *ngIf="user !== selected">{{user.role}}</span>
              <span *ngIf="user === selected">
                <input [(ngModel)]="user.role" class="form-control">
              </span>
            </td>
            <td>
              <button type="button" *ngIf="user === selected" class="btn btn-primary" (click)="save(user)">Save</button>
              <button type="button" *ngIf="user === selected" class="btn btn-primary" (click)="removeSelection()">Cancel</button>
              <button type="button" class="btn btn-primary" (click)="delete(user)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </al-table>
  </div>
</div>
