<al-search-list #sl [serviceObservable]="usersService.users$">
    <div pre-defined-buttons class="btn-group mb-3" role="group" aria-label="Predefined Searches">
        <button type="button" class="btn btn-secondary">Incomplete (No-Send)</button>
        <button type="button" class="btn btn-secondary">Last 30 Days</button>
        <button type="button" class="btn btn-secondary">All Pending</button>
        <button type="button" class="btn btn-secondary">Department Pending</button>
        <button type="button" class="btn btn-secondary">Unprocessed</button>
        <button type="button" class="btn btn-secondary">Late</button>
    </div>
    <div results-table class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> Results Table
        </div>
        <div class="card-body">
            <table class="table table-responsive table-hover table-outline mb-0">
                <thead>
                    <tr>
                        <th (click)="sl.toggleSort('client_code')">
                            Client Code 
                            <span [ngClass]="sl.getSortIconClasses('client_code')"></span>
                        </th>
                        <th (click)="sl.toggleSort('client_order_num')">
                            Client Request Num
                            <span [ngClass]="sl.getSortIconClasses('client_order_num')"></span>
                        </th>
                        <th (click)="sl.toggleSort('status')">
                            Status
                            <span [ngClass]="sl.getSortIconClasses('status')"></span>
                        </th>
                        <th (click)="sl.toggleSort('ssn')">
                            SSN
                            <span [ngClass]="sl.getSortIconClasses('ssn')"></span>
                        </th>
                        <th (click)="sl.toggleSort('dob')">
                            DOB
                            <span [ngClass]="sl.getSortIconClasses('dob')"></span>
                        </th>
                        <th (click)="sl.toggleSort('years_scope')">
                            Year Scope
                            <span [ngClass]="sl.getSortIconClasses('years_scope')"></span>
                        </th>
                        <th (click)="sl.toggleSort('client_notes')">
                            Client Notes
                            <span [ngClass]="sl.getSortIconClasses('client_notes')"></span>
                        </th>
                        <th (click)="sl.toggleSort('case_notes')">
                            Case Notes
                            <span [ngClass]="sl.getSortIconClasses('case_notes')"></span>
                        </th>
                        <th (click)="sl.toggleSort('county')">
                            County
                            <span [ngClass]="sl.getSortIconClasses('county')"></span>
                        </th>
                        <th (click)="sl.toggleSort('state')">
                            State
                            <span [ngClass]="sl.getSortIconClasses('state')"></span>
                        </th>
                        <th (click)="sl.toggleSort('case_copies')">
                            Case Copies
                            <span [ngClass]="sl.getSortIconClasses('case_copies')"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of sl.tableData">
                        <td>{{order.client_code}}</td>
                        <td>{{order.client_order_num}}</td>
                        <td>{{order.status}}</td>
                        <td>{{order.ssn}}</td>
                        <td>{{order.dob | date:'shortDate'}}</td>
                        <td>{{order.years_scope}}</td>
                        <td>{{order.client_notes}}</td>
                        <td>{{order.case_notes}}</td>
                        <td>{{order.county}}</td>
                        <td>{{order.state}}</td>
                        <td>{{order.case_copies}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</al-search-list>